<nav class="nav_container">
    <ul class="nav" id="nav">
        <li><a href="/patterns">Шаблони</a></li>
        <li><a href="/patterns-by-user">Свої шаблони</a></li>
        <li><a href="/add-pdf-file">Додати шаблон</a></li>
        <li><a href="/logout">Вихід</a></li>
        <li><a href="/login">Вхід</a></li>
        <li><a href="/registration">Реєстрація</a></li>
    </ul>
</nav>