<nav class="nav_container">
    <ul class="nav" id="nav">
        <li><a href="/patterns">Шаблони</a></li>
        <li><a href="/patterns-by-user">Свої шаблони</a></li>
        <li><a href="/patterns-favorites">Обрані шаблони</a></li>
        <li><a href="/add-pdf-file">Додати шаблон</a></li>
        <li id="exit"><a href="/logout">Вихід</a></li>
        <li id="login"><a href="/login">Вхід</a></li>
        <li id="registration"><a href="/registration">Реєстрація</a></li>
        <li id="username"></li>
        <li id="delete-user"><a href="/delete-user">Видалити</a></li>
    </ul>
</nav>