<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Додати PDF шаблон</title>
</head>
<body>
<%- include('./partials/nav.ejs') %>

<div class="add-file-container">
    <h1>Додати PDF шаблон</h1>
    <form class="add-file" action="/add-pdf-file" method="post" enctype="multipart/form-data">
        <label>
            <input type="text" onkeyup="this.value=removeSpaces(this.value)" name='name' placeholder="Напишіть назву для PDF файлу" maxlength="50" required/>
        </label>

        <div class="upload-file__wrapper">
            <input
                    type="file"
                    name="pdfFile"
                    id="upload-file__input_1"
                    class="upload-file__input"
                    size="50"
                    accept=".pdf"
                    required
            >
            <label class="upload-file__label" for="upload-file__input_1">
                <span class="upload-file__text">Завантажити PDF файл</span>
            </label>
        </div>
        <div>
            <button class="form-submit" type='submit'>Додати</button>
        </div>

    </form>
</div>

<script src="/scripts.js"></script>

</body>
</html>