<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download PDF</title>
</head>
<body>
<h1>Download PDF</h1>
<p>Name file: <%= namePDFFile%></p>

<form action="/download-pdf" method="post">
    <input type="hidden" value="<%= namePDFFile%>" name="namePDFFile" />
    <button type="submit">Download PDF</button>
</form>

<a href="/patterns/<%=id%>">Повернутись до шаблону</a><br>
<a href="/patterns">Перегланути інші шаблони</a>
</body>
</html>