<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Document</title>
</head>
<body>
<%- include('./partials/nav.ejs') %>
    <h1><%= text %></h1>
    <form id="post-form" method="post" action="/add-post">
        <label>Post Text
            <textarea name="text"></textarea>
        </label>
        <input type="submit" value="Submit">
    </form>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="imageFile" /><br>
        <button type="submit" value="Submit">Upload JSON</button>
    </form>

    <form action="/create" method="post">
        <button type="submit" value="Submit">Create PDF</button>
    </form>

    <form action="/download" method="get">
        <button type="submit" value="Submit">Download PDF</button>
    </form>

    <a href="/add-pdf-file"> add pdf</a><br>
    <a href="/patterns"> patterns</a>

</body>
</html>