<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Вхід</title>
</head>
<body>
<%- include('./partials/nav.ejs') %>

<div class="auth-container">
    <h1>Вхід</h1>
    <form class="auth" action="/login" method="post">
        <label>
            <input type="text" onkeyup="this.value=removeSpaces(this.value)" name="username" placeholder="Введіть логін" minlength="1" required/>
        </label>
        <label>
            <input type="text" onkeyup="this.value=removeSpaces(this.value)" name="password" placeholder="Введіть пароль" minlength="4" maxlength="10" required/>
        </label>
        <label>
            <button class="form-submit" type='submit'>Увійти</button>
        </label>
    </form>
</div>
<script src="/scripts.js"></script>
</body>
</html>
