<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>PDF Patterns</title>
</head>
<body>
<%- include('./partials/nav.ejs') %>

<h1>Шаблони PDF :</h1>

<ul>
    <% if (patterns.length) { %>
        <% patterns.forEach(({ id, name }) => { %>
            <article>
                <h2>
                    <a href="/patterns/<%= id %>"><%= name %></a>
                </h2>

                <form action="/delete-pdf" method="post">
                    <button class="delete-submit">
                        <input type="hidden" class="fas fa-trash-alt" name="fileid" value="<%= id %>">delete
                    </button>
                </form>

            </article>

        <% }) %>
    <% } %>
</ul>
</body>
</html>